version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    image: realtime-api
    ports:
      - "3000:3000"

  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    image: realtime-web
    ports:
      - "8080:80"
    depends_on:
      - api