@use "breakpoints" as *;

@mixin respond($bp) {
  @if $bp ==sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  }

  @else if $bp ==md {
    @media (min-width: $bp-md) {
      @content;
    }
  }

  @else if $bp ==lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  }

  @else if $bp ==xl {
    @media (min-width: $bp-xl) {
      @content;
    }
  }

  @else if $bp ==xxl {
    @media (min-width: $bp-xxl) {
      @content;
    }
  }
}